<body>
<div>
  <mat-toolbar>
    <!-- <span>My Company</span> -->
    <a class="btn btn-white" routerLink="login">My Company</a>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
</body>

<!-- <div class="row mt-3">
  <div class="col-3 leftside mt-5" style="width: 20vw">
    <div
      class="btn btn-group d-flex flex-column mt-5"
      style="background-color: aquamarine"
    >
      <a class="btn btn-primary rounded mt-1" routerLink="manager">manager</a>
      <a class="btn btn-primary rounded mt-5" routerLink="employee">employee</a>
      <a class="btn btn-primary rounded mt-5" routerLink="customer">customer</a>
    </div>
  </div>
  <div class="col-md-6" style="width: 80vw">
    <div class="rightside"><router-outlet></router-outlet></div>
  </div>
</div> -->
