<div class="row">
    <!-- <div class="col-3 leftside mt-1" style="width: 20vw"> -->
      <div
        class="btn btn-group "
        style="background-color: aquamarine"
      >
        <a class="btn btn-primary rounded mt-1" routerLink="/manager">manager</a>
        <a class="btn btn-primary rounded mt-1" routerLink="/employee">employee</a>
        <a class="btn btn-primary rounded mt-1" routerLink="/customer">customer</a>
      </div>
      <router-outlet></router-outlet>
    </div>











<form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
<div class="container">
    <div class="card">
        <div class="card-body" style="background-color:rgba(250, 235, 215, 0.582);">
            <div class="form-group">
                <div class="d-flex">
                <div class="form-floating m-2  col-md-3">
                    <input class="form-control" type="text" placeholder="First name" name="firstname" ngModel required>
                    <label for="name" >First name</label>
                </div>
                <div class="form-floating m-3  col-md-3">
                    <input class="form-control" type="text" placeholder="Last name" name="lastname" ngModel required>
                    <label for="name"  >Last name</label>
                </div>
                </div>
                <div class="form-floating col-md-3">

                    <input class="col-md-5 m-2" type="date" name="date" min="1990-01-01" max="2005-12-31" [(ngModel)]="date" (input)="convert()" ngModel required />
                    
                         
                    <p class="form-control date ">Age:{{result}}</p>
                    
                 </div>


                <!-- <div class="col-md-2 m-2 date">
                    <input class="form-control col-md-2" type="date" name="date" ngModel required>
                </div>
                <div class="form-floating m-2 col-md-2">
                    
                    <input class="form-control" type="text"  name="age" placeholder="Age" ngModel required>
                    <label for="">Age</label>
                </div> -->
                <div>
                    <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
                        <input matSliderThumb name="exp" ngModel required >
                      </mat-slider>
                </div>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1" name="male"  >Male</mat-radio-button>
                        <mat-radio-button value="2" name="female" >Female</mat-radio-button >
                      </mat-radio-group>
                    
                </div>
                <div class="m-1 col-md-1">
                    <button class="form-control" type="submit" (click)="dialogbox()">save</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<div>
    <button class="fetch" (click)="onShow()">Fetch Posts</button> 
<button class="clear"  (click)="onDelete()" >Clear Posts</button>
</div>
<div>
    {{todo|json}}
</div>