.fetch{
    margin-left: 80px;
    border-radius: 10px;
    border-color: aliceblue;
}
.clear{
    margin-left: 40px;
    margin-top: 10px;
    border-radius:10px ;
    border-color: aliceblue;
    
}