<div class="row">
    <!-- <div class="col-3 leftside mt-1" style="width: 20vw"> -->
      <div
        class="btn btn-group "
        style="background-color:lightskyblue"
      >
        <a class="btn btn-primary rounded mt-1" routerLink="/manager">manager</a>
        <a class="btn btn-primary rounded mt-1" routerLink="/employee">employee</a>
        <a class="btn btn-primary rounded mt-1" routerLink="/customer">customer</a>
      </div>
      <router-outlet></router-outlet>
    </div>






    <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
<div class="container">
    <div class="card">
        <div class="card-body" style="background-color:rgba(211, 211, 211, 0.562);">
            <div class="form-group">
                <div class="d-flex">
                <div class="form-floating m-2  col-md-3">
                    <input class="form-control" type="text" placeholder="First name" name="firstname" ngModel required>
                    <label for="name" >First name</label>
                </div>
                <div class="form-floating m-2  col-md-3">
                    <input class="form-control" type="text" placeholder="Last name" name="lastname" ngModel required>
                    <label for="name"  >Last name</label>
                </div>
            </div>

            <div class="form-floating col-md-3">

                <input class="col-md-5 m-2" type="date" name="date" [(ngModel)]="date" (input)="convert()" ngModel required />
                
                     
                <p class="form-control date ">Age:{{result}}</p>
                
             </div>


                <!-- <div class="col-md-2 m-2">
                    <input class="form-control col-md-2" type="date" name="" id="">
                </div>
                <div class="form-floating m-2 col-md-2">
                    
                    <input class="form-control" type="text" id="age" name="age" placeholder="Age">
                    <label for="">Age</label>
                </div> -->
                <div>
                    <label>Address</label>
                    <textarea class="form-control" style="height: 20vh; width: 50%;" name="address" ngModel required></textarea>
                </div>
            </div>
            <div class="d-flex">
            <div class="m-1 col-md-1">
                <button class="form-control" type="submit" (click)="dialogbox()">save</button>
            </div>
            <div class="m-1 col-md-1">
                <button class="form-control" type="submit">Generate</button>  
            </div> 
        </div>
        </div>
    </div>
</div>
</form>
<div>
    <button class="fetch" (click)="onShow()">Fetch Posts</button> 
<button class="clear"  (click)="onDelete()" >Clear Posts</button>
</div>
<div>
    {{todo|json}}
</div>

