<div class="row">
    <!-- <div class="col-3 leftside mt-1" style="width: 20vw"> -->
      <div
        class="btn btn-group "
        style="background-color: aquamarine"
      >
        <a class="btn btn-primary rounded mt-1" routerLink="/manager">manager</a>
        <a class="btn btn-primary rounded mt-1" routerLink="/employee">employee</a>
        <a class="btn btn-primary rounded mt-1" routerLink="/customer">customer</a>
      </div>
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="col-md-3" style="width: 60vw;">
      
    </div> -->
  













<form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
<div class="container ">
    <mat-card style="background-color: rgba(255, 228, 196, 0.473);">
        <mat-card-content>
     
      
            <div class="form-group">
                <div class="d-flex">
                <div class="form-floating m-2  col-md-3">
                    <input class="form-control" type="text" placeholder="First name" name="firstname" ngModel required />
                    <label for="name" >First name</label>
                </div>
                <div class="form-floating m-2  col-md-3">
                    <input class="form-control" type="text" placeholder="Last name" name="lastname" ngModel required/>
                    <label for="name"  >Last name</label>
                </div>
            </div>
                <!-- <div class="col-md-2 m-2 date">
                    <input class="form-control col-md-2" type="date" name="date" ngModel required/>
                </div> -->
                <div class="form-floating col-md-3">

                    <input class="col-md-5 m-2" type="date" name="date" min="1990-01-01" max="2005-12-31" [(ngModel)]="date" (input)="convert()" ngModel required />
                    
                    <p class="form-control date">Age:{{result}}</p>
                      
                 </div>


                 <!-- <div class="form-floating m-2 col-md-2">
                    <input class="form-control" type="text"  name="age" placeholder="Age" ngModel required/>
                    <label for="">Age</label>

                 </div> -->

                 <div>
                    <label>About</label>
                    <textarea class="form-control" style="height:20vh; width: 100%;" name="about" ngModel required></textarea>
                </div>
            </div>
            <div class="m-1 col-md-1">
                <button class="form-control" type="submit" (click)="dialogbox()">save</button>
            </div>
        </mat-card-content>
        </mat-card>
</div>
</form>
<div>
    <button class="fetch " (click)="onShow()" (click)="role()">Fetch Posts</button> 
<button class="clear"   (click)="onDelete()" >Clear Posts</button>
</div>
<div class="row">
    
    {{todo|json}}

</div>