<div class="row">
    <!-- <div class="col-3 leftside mt-1" style="width: 20vw"> -->
      <div
        class="btn btn-group "
        style="background-color: aquamarine"
      >
        <a class="btn btn-primary rounded mt-1" routerLink="/manager">manager</a>
        <a class="btn btn-primary rounded mt-1" routerLink="/employee">employee</a>
        <a class="btn btn-primary rounded mt-1" routerLink="/customer">customer</a>
      </div>
      <router-outlet></router-outlet>
    </div>
    