

  
<body>
  

<mat-card class="example-card">
    <mat-card-header>
      <div class="log">
      <mat-card-title>LOGIN PAGE</mat-card-title>
    </div>
    </mat-card-header>
    
    <mat-card-content>
      <div class="form-floating m-2 col-md-5">
        <input  class="form-control" style="width: 20vw;"   type="text" required>
        <label class="hi" for="">User Name</label>
      </div>
      <div class="form-floating m-2 col-md-5">
        <input  class="form-control"  style="width: 20vw;" type="password" required>
        <label class="hi" for="">Password</label>
      </div>
     </mat-card-content>
    <mat-card-actions>
        <a class="btn btn-primary rounded"  routerLink="/main1">Login</a>
      
    </mat-card-actions>
      
  </mat-card>
</body>