.example-card{
    width:30vw ;
    background-color: rgba(137, 43, 226, 0.466);
    margin-top:60px ;
    margin-left: 500px;
}
body{

    background-image: url(https://cdn.pixabay.com/photo/2017/02/08/08/47/computer-2048166_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
}
.log{
    margin-left: 130px;
}
.form-control{
    margin-left: 45px;
}
.btn{
    margin-left: 160px;
    margin-bottom: 10px;
}
 .hi{
    margin-left: 40px;
} 